<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--    基于注解-->
    <context:component-scan base-package="com.how2java.aspect"/>
    <context:component-scan base-package="com.how2java.service"/>
    <context:component-scan base-package="com.how2java.pojo"/>
    <aop:aspectj-autoproxy/>

    <!--    基于xml配置-->
    <!--    <context:annotation-config/>-->
    <!--    <bean name="category" class="com.how2java.pojo.Category">-->
    <!--        <property name="name" value="fruit"/>-->
    <!--    </bean>-->
    <!--    <bean name="product" class="com.how2java.pojo.Product">-->
    <!--        <property name="name" value="apple"/>-->
    <!--        <property name="category" ref="category"/>-->
    <!--    </bean>-->

    <!--    <bean name="productService" class="com.how2java.service.ProductService"/>-->
    <!--    <bean name="loggerAspect" class="com.how2java.aspect.LoggerAspect"/>-->
    <!--    <bean name="performanceAspect" class="com.how2java.aspect.PerformanceAspect"/>-->

    <!--    <aop:config>-->
    <!--        <aop:pointcut id="cutpoint" expression="execution(* com.how2java.service.ProductService.*(..))"/>-->

    <!--        <aop:aspect id="logAspect" ref="loggerAspect">-->
    <!--            <aop:around pointcut-ref="cutpoint" method="log"/>-->
    <!--        </aop:aspect>-->

    <!--        <aop:aspect id="performAspect" ref="performanceAspect">-->
    <!--            <aop:around pointcut-ref="cutpoint" method="performance"/>-->
    <!--        </aop:aspect>-->
    <!--    </aop:config>-->

</beans>